# Clerk Frontend Auth Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

# Clerk Redirect Routes
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL="/home"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/home"

# Backend API Endpoint URL
NEXT_PUBLIC_API_URL=http://localhost:5000
